@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text: black;
  --border: #dbdbdb;
  --button-text: black;
  --secondary-text: #737373;
}

.dark {
  --background: black;
  --text: white;
  --border: #363636;
  --button-text: white;
  --secondary-text: #a3a3a3;
}

html, body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

button, label {
  color: var(--button-text);
}

/* Appliquer la couleur de texte par défaut à tous les éléments de texte */
h1, h2, p, div {
  color: var(--text);
}

/* Pour les textes secondaires */
.text-gray-400, .text-gray-500 {
  color: var(--secondary-text);
}
